<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    </head>
    <body>
        <div ng-app="app" class="container justify-content-center" style="padding-top: 10px;" ng-controller="todolist">
            <div class="row align-self-center" ng-show="!task">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary" ng-click="newTask()">Nova Tarefa</button>    
                            <button class="btn btn-info" ng-click="createRandomTasks()">Estou sem tarefas</button>    
                            
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item active text-center"><h5>PENDENTES</h5></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="task in tasks_pending">
                                    {{task.description}}
                                    <button ng-show="task.status == 'pending'" class="btn btn-success" ng-click="taskDone(task)">Concluir</button>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list-group">
                                <li class="list-group-item active text-center"><h5>CONCLUÍDAS</h5></li>
                                <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="task in tasks_done">
                                    {{task.description}}
                                    <button ng-show="task.status == 'done'" class="btn btn-danger" ng-click="taskAuthorization(task)">Pendente</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-self-center" ng-show="task">
                <div class="col-md-12">
                    <div class="row" ng-show="!show_auth">
                        <div class="col-md-12">
                            <form ng-submit="saveTask()">
                                <div class="row">
                                    <div class="col-sm-12 form-group">
                                        <label for="task_description" class="control-label">Descrição</label>
                                        <textarea id="task_description" ng-required="true" ng-model="task.description" class="form-control"></textarea>
                                    </div>
                                </div>
                                <h6>Responsável</h6>
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <label for="name_keeper" class="control-label">Nome</label>
                                        <input type="text" id="name_keeper" ng-required="true" ng-model="task.name_keeper" class="form-control">
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <label for="email_keeper" class="control-label">E-mail</label>
                                        <input type="email" id="email_keeper" ng-required="true" ng-model="task.email_keeper" class="form-control">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-12 form-group text-center">
                                        <button type="button" class="btn btn-danger" ng-click="task = false">Cancelar</button>
                                        <button type="submit" class="btn btn-success">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row" ng-show="show_auth">
                        <form ng-submit="taskPendingAgain()">
                            <div class="col-sm-12 form-group">
                                <label for="password" class="control-label">Senha</label>
                                <input type="password" id="password" ng-required="true" ng-model="password" class="form-control">
                            </div>
                            <div class="col-sm-12 form-group text-center">
                                <button type="button" class="btn btn-danger" ng-click="show_auth = false;task = false">Cancelar</button>
                                <button type="submit" class="btn btn-success">Salvar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var app = angular.module("app", []);
            app.controller("todolist",function ($scope, $http, $filter) {
                baseurl = "http://localhost:3000/";
                $scope.task = false;
                $scope.show_auth = false;

                $scope.newTask = function(){
                    $scope.task = {id: -1};
                };

                $scope.getTasks = function(){
                    $http.get(baseurl + 'tasks/list-tasks')
                    .then(function (data) {
                        if (data.data.success) {
                            $scope.tasks_pending = $filter('filter')(data.data.tasks ,{status:'pending'});
                            $scope.tasks_done = $filter('filter')(data.data.tasks ,{status:'done'});
                        }else{
                            alert(data.data.message)
                        }
                    });  
                };
                $scope.getTasks();
                
                $scope.createRandomTasks = function(){
                    $http.get(baseurl + 'tasks/random-tasks')
                    .then(function (data) {
                        if (data.data.success) {
                            $scope.getTasks();
                        }
                        alert(data.data.message)
                    });  
                };

                $scope.taskAuthorization = function(task){
                    $scope.task = task;
                    $scope.show_auth = true;
                };
                
                $scope.taskPendingAgain = function(){
                    $http.post(baseurl + 'tasks/pending-task', {task: $scope.task, password: $scope.password})
                    .then(function (data) {
                        if (data.data.success) {
                            $scope.task = false; 
                            $scope.password = ''; 
                            $scope.show_auth = false;
                            $scope.getTasks(); 
                        }
                        alert(data.data.message)
                    });
                }

                $scope.taskDone = function(task){
                    $http.post(baseurl + 'tasks/done-task', task).then(function (data) {
                        if (data.data.success) {
                            $scope.getTasks();  
                        }else{
                            alert(data.data.message)
                        }
                    });
                }
                
                $scope.saveTask = function(){
                    $http.post(baseurl + 'tasks/', $scope.task).then(function (data) {
                        if (data.data.success) {
                            $scope.task = false;
                            $scope.getTasks();  
                        }
                        alert(data.data.message)
                    });  
                }
            });
        </script>
    </body>    
</html>